<!--<div cdkDropList class="example-list me-5 ms-5" (cdkDropListDropped)="drop($event)">-->
<!--  <div class="example-box" *ngFor="let stage of survey?.stageSet" cdkDrag>-->
<!--    <div>-->
<!--      <div class="fs-5 mb-2">-->
<!--        {{ stage.stageText }}<BR>-->
<!--      </div>-->
<!--      <div class="fs-6 fst-italic mb-2">-->
<!--        Type : {{ stage.stageType }}-->
<!--      </div>-->
<!--      <div *ngIf="stage.optionSet.length > 0">-->
<!--        Options:-->
<!--        <ul>-->
<!--          <li *ngFor="let option of stage.optionSet">-->
<!--            {{ option.optionText }}-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <i class="bi-x-lg text-danger pointer" (click)="onDelete(stage.orderStage)"></i><i class="bi-pencil-square text-success ms-3 pointer" (click)="onEdit(stage)"></i>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

<!--<table class="table table-light">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">Order</th>-->
<!--    <th scope="col">Questions</th>-->
<!--    <th scope="col">Type</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  </tbody>-->
<!--</table>-->

<!--stageList-->
<!--<app-stage-->
<!--  [process]="process"-->
<!--  *ngFor="let stage of stageList"-->
<!--  [stage]="stage"-->
<!--&gt;</app-stage>-->


<!--process.stages-->
<!--<app-stage-->
<!--  [process]="process"-->
<!--  *ngFor="let stage of process.stage"-->
<!--  [stage]="stage"-->
<!--&gt;</app-stage>-->

