<!--<table class="table table-light">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">Order</th>-->
<!--    <th scope="col">Questions</th>-->
<!--    <th scope="col">Type</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  </tbody>-->
<!--</table>-->

<!--stageList-->
<!--<app-stage-->
<!--  [process]="process"-->
<!--  *ngFor="let stage of stageList"-->
<!--  [stage]="stage"-->
<!--&gt;</app-stage>-->


<!--process.stages-->
<!--<app-stage-->
<!--  [process]="process"-->
<!--  *ngFor="let stage of process.stage"-->
<!--  [stage]="stage"-->
<!--&gt;</app-stage>-->

