<ng-container *ngIf="isEditingStage || !stage ">
  <div class="card-body">
    <div class="container">
      <div class="card shadow">
        <div class="card-body">
          <div class="close-button" *ngIf="stage">
            <button class="btn btn-dark" (click)="closeThis()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                   viewBox="0 0 16 16">
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg>
            </button>
          </div>
          <div *ngIf="!stage" class="centering">
            <h3 class="text-center pt-3">Create New Stage</h3>
          </div>
          <div *ngIf="stage" class="centering">
            <h3 class="text-center pt-3">Update Stage</h3>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Question</span>
            <input type="text" class="form-control" [(ngModel)]="question">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Stage Order</span>
            <input type="number" class="form-control" [(ngModel)]="stageOrder">
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Stage Type</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="type">
              <option>Textbox</option>
              <option>Boolean</option>
              <option>Multiple Choice: Single</option>
              <option>Multiple Choice: Multiple</option>
            </select>
          </div>

          <div class="centering">
            _____________Stage Options______________
          </div>

          <!--          if selected textbox show this-->
          <ng-container *ngIf="type == 'Textbox'">
            <div class="form-group row">
              <label for="textarea" class="col-4 col-form-label">Text Area</label>
              <div class="col-8">
                <textarea id="textarea" name="textarea" cols="40" rows="5" class="form-control"></textarea>
              </div>
            </div>
          </ng-container>


          <!--          if selected multi single show this-->
          <ng-container *ngIf="type == 'Multiple Choice: Single'">
            <div class="form-group row">
              <div class="input-group mb-3">
                <span class="input-group-text">Create Field</span>
<!--                <input type="text" class="form-control" [(ngModel)]="choiceInput">-->
                <button class="btn btn-light" (click)="addField()">Add New</button>
              </div>
            </div>
            <div class="font-green">radio buttons are disabled on sample. one may be selected on live stage</div>


            <app-stage-option-input></app-stage-option-input>
            <app-stage-option-input
              *ngFor="let option of stageOptions"
              [option]="option"
              [type]="type"
            ></app-stage-option-input>

<!--            -->
<!--            <div *ngFor="let choice of stageOptions" class="col-8">-->
<!--              <div class="custom-control custom-radio custom-control-inline">-->
<!--                <input name="radio" id="radio_0" type="radio" class="custom-control-input" value="{{choice.option}}" [(ngModel)]="choice.option === option">-->
<!--                <label for="{{choice}}" class="custom-control-label">&nbsp; {{choice.option}}</label>-->
<!--              </div>-->
<!--            </div>-->

          </ng-container>



          <!--          if selected multi single show this-->
          <ng-container *ngIf="type == 'Boolean'">
            <div class="form-group row">
              <label class="col-4">Boolean Buttons</label>
              <div class="col-8">
                <div class="custom-control custom-radio custom-control-inline">
                  <input name="radio" id="radio_true" type="radio" class="custom-control-input" value="true">
                  <label for="radio_true" class="custom-control-label">&nbsp; True</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input name="radio" id="radio_false" type="radio" class="custom-control-input" value="false">
                  <label for="radio_false" class="custom-control-label">&nbsp; False</label>
                </div>
              </div>
            </div>
          </ng-container>

          <!--          if selected multi multiple show this-->
          <ng-container *ngIf="type == 'Multiple Choice: Multiple'">
            <div class="form-group row">
              <div class="input-group mb-3">

                <!--                <input type="text" class="form-control" [(ngModel)]="choiceInput">-->
                <span class="input-group-text">Create Field</span>
                <button class="btn btn-light" (click)="addField()">Add New</button>
              </div>
              <div class="font-green">checkboxes are disabled on sample. multiple or none may be selected on live stage</div>

              <app-stage-option-input
                *ngFor="let option of stageOptions"
                [option]="option"
                [type]="type"
              ></app-stage-option-input>

            </div>
          </ng-container>



          <div class="centering" id="error-message">{{errorMessage}}</div>
          <ng-container *ngIf="!stage">
            <button class="btn btn-light" (click)="onCreate()">Create</button>
          </ng-container>
          <ng-container *ngIf="stage">
            <button class="btn btn-light" (click)="onUpdate()">Update</button>
          </ng-container>


        </div>
      </div>
    </div>
  </div>
</ng-container>


<!--when not editing and no stage is selected-->
<ng-container *ngIf="!isEditingStage && stage !== null">
  <div class="card-body">
    <div class="container">
      <div class="card shadow">
        <div class="card-body">
          <table  class="table table-light">
            <tbody>

              <th scope="row">id: {{stage.id}}</th>


              <tr><ul><div class="font-green">order:</div> {{stage.stageOrder}}</ul></tr>
              <tr><ul><div class="font-green">prompt:</div> {{stage.question}}</ul></tr>
              <tr><ul><div class="font-green">type:</div> {{stage.type}}</ul></tr>
              <tr *ngIf="(type == 'Multiple Choice: Multiple')||(type == 'Multiple Choice: Single')"><ul><div class="font-green"># options:</div> {{stageOptCount}}</ul></tr>
            </tbody>
          </table>

          <div class="modify-buttons">

            <button class="btn btn-light" (click)="onEdit()">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                   class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </button>
            <button class="btn btn-light" (click)="onDelete()">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3"
                   viewBox="0 0 16 16">
                <path
                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg>
            </button>
            {{deleteAlert}}<br>
            <ng-container *ngIf="deleteAlert">
              <button class="btn btn-light" (click)="onDeleteConfirm()">DELETE</button>
            </ng-container>

          </div>

        </div>
      </div>
    </div>
  </div>
</ng-container>
