
<div class="card shadow">
  <div class="card-body">
    <div class="container">
      <div class="card shadow">
        <div class="card-body">
          <div class="close-button">
            <button class="btn btn-dark" (click)="closeThis()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                   viewBox="0 0 16 16">
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg>
            </button>
          </div>
          <div *ngIf="!stage" class="centering">
            <h3 class="text-center pt-3">Create New Stage</h3>
          </div>
          <div *ngIf="stage" class="centering">
            <h3 class="text-center pt-3">Update Stage</h3>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Question</span>
            <input type="text" class="form-control" [(ngModel)]="question">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Order</span>
            <input type="text" class="form-control" [(ngModel)]="order">
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="textbox"[(ngModel)]="type">
            <label class="form-check-label" for="inlineRadio1">Textbox</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="boolean"[(ngModel)]="type">
            <label class="form-check-label" for="inlineRadio2">True/False</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="multiRadio"[(ngModel)]="type">
            <label class="form-check-label" for="inlineRadio3">Multiple Choice: Single Select</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="multiCheck"[(ngModel)]="type">
            <label class="form-check-label" for="inlineRadio4">Multiple Choice: Multiple Select</label>
          </div>
          <div>

          </div>
          <div class="container">{{errorMessage}}</div>
          <ng-container *ngIf="!stage">
            <button class="btn btn-light" (click)="onCreate()">Create</button>
          </ng-container>
          <ng-container *ngIf="stage">
            <button class="btn btn-light" (click)="onUpdate()">Update</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

