
  <div class="card shadow">
  <div class="card-body">
    <div class="container">
        <div class="card shadow">
          <div class="card-body">
<!--            <div *ngIf="!product" class="form-check d-flex justify-content-center">-->
<!--              <h3 class="text-center pt-3">Create New Product</h3>-->
<!--            </div>-->
<!--            <div *ngIf="product" class="form-check d-flex justify-content-center">-->
<!--              <h3 class="text-center pt-3">Update Product</h3>-->
<!--            </div>-->

            <div class="close-button">
            <button class="btn btn-dark" (click)="onCancel()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                   viewBox="0 0 16 16">
                <path
                  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg>
            </button>
            </div>
            <div>Create New Process</div>

            <div class="input-group mb-3">
              <span class="input-group-text">Title</span>
              <input type="text" class="form-control" [(ngModel)]="title">
            </div>

              <button class="btn btn-light" (click)="onCreate()">Create</button>


<!--              <button class="btn btn-primary" (click)="onUpdate()">Update</button>-->

            </div>
          </div>
        </div>
      </div>
    </div>

